* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

/*header*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 18px;
    padding-top: 20px;
    
}
.logo {
    font-size: 25px;
}
.info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 17px;
    align-items: center;
}
.info a {
    text-decoration: none;
    padding: 5px;
    color: black;
}
.info a:hover {
    background-color: #d1f2f8d5;
}
/*Main part*/
.main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*About Us*/
.aboutUs {
    padding: 35px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
    background-color: #BABD8E;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 35%;
}
.description p {
    margin-top: 20px;
}

/*Slideshow*/
.mySlides {
    display: none;
}
.mySlides img {
    height: 350px;
    margin-bottom: 10px;
}
.slideshow {
    position: relative;
    max-width: 500px;
    width: 60%
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #92908f;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active {
    background-color: #424140;
}
  
/* Fading animation for slideshow */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/*Courses*/
.workshops, .course {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.workshops {
    margin-top: 30px;
    margin-bottom: 30px;
}
.course {
    padding: 10px;
    margin: 5px;
}

/*PopUp Info Message*/
.infoButton {
    text-decoration: none;
    padding: 5px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.infoButton:hover, .popup-content button:hover {
    background-color: #d1f2f8d5;
}
.myPopup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 40%;
    font-weight: bolder;
    text-align: center;
}

.popup-content button {
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    color: black;
    background-color: transparent;
    border: 1px solid #000000;
    
    cursor: pointer;
}
.popup-content h2 {
    margin-bottom: 15px;
}
.show {
    display: block;
}

.course {
    padding: 10px 20px;
}
.course p, .course h4 {
    text-align: center;
    padding: 5px;
}
.course img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}
.courseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    margin: 5px;
}

/*Shop area starts here*/
.shop {
    display: flex;
    flex-direction: column;
    padding: 18px;
    background-color: #FFDAC7;
}
.shop-header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.top-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.top-buttons a {
    text-decoration: none;
    padding: 7px 10px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
}
.top-buttons a:hover {
    background-color: white;
}
.product-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-card {
    background-color: white;
    width: 300px;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.product-info {
    padding: 5px;
}
.plate {
    height: 247px;
}
.plate img {
    max-height: 200px;
    border-bottom: 1px solid black;
}
.cup img {
    width: auto;
    max-height: 300px;
    border-bottom: 1px solid black;
}
@media screen and (max-width: 650px) {
    .aboutUs {
        gap: 25px;
    }
    .mySlides img {
        height: 285px;
    }
}

